<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template "/>
    <meta name="author" content=""/>

    <title>Memorize~!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
 
    <!-- Custom Google Web Font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom CSS-->
    <link href="/static/css/general.css" rel="stylesheet"/>
	<link href="/static/css/test.css" rel="stylesheet"/>
	 <!-- Owl-Carousel -->
    <link href="/static/css/custom.css" rel="stylesheet"/>
	<link href="/static/css/owl.carousel.css" rel="stylesheet"/>
    <link href="/static/css/owl.theme.css" rel="stylesheet"/>
	<link href="/static/css/style.css" rel="stylesheet"/>
	<link href="/static/css/animate.css" rel="stylesheet"/>
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="/static/css/magnific-popup.css"/>
	
	<script src="/static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="home">
	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">背单词APP</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">BJUT Computer science 170711</h3>
		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#aboutus"> <img class="img_scroll" src="/static/img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>

    <!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">Hi friend!</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav" id="nav-bar">
					<li class="menuItem"><a href="#aboutus">About us</a></li>
					<li class="menuItem"><a href="#useita">Function</a></li>
					<li class="menuItem"><a href="#developer">Developer</a></li>
					<li class="menuItem" id="register-item"><a href="/register">Register</a></li>
					<li class="menuItem" id="login-item"><a href="/login">Login</a></li>
				</ul>
			</div>	   
		</div>
	</nav>

	<div id="aboutus" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>About us</h2>
				<p class="lead" style="margin-top:0">一个背单词的网站</p>
			</div>
			
			<div class="row">
			
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="/static/logo/translation.jpg" alt="Generic placeholder image">
				  <h3>中英互译</h3>
				  <p class="lead"> You can translate any sentence here</p>
				</div>
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="/static/logo/search.png" alt="Generic placeholder image">
				   <h3>单词查询</h3>
				   <p class="lead"> You can search for words in the dictionary</p>
				</div>
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="/static/img/icon/retina.svg" alt="Generic placeholder image">
				   <h3>背诵单词</h3>
					<p class="lead"> You can memorize words here </p>
				</div>
			
			</div>
				
			<div class="row tworow">
	
				<div class="col-sm-4  wow fadeInDown text-center">
				  <img class="rotate" src="/static/img/icon/laptop.svg" alt="Generic placeholder image">
				  <h3>单词测验</h3>
				  <p class="lead">Your can start a examination for testing your skill</p>
				</div>
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="/static/img/setting.png" alt="Generic placeholder image">
				   <h3>自定义设置</h3>
				   <p class="lead">You can set a dictionary to memorize or your memorizing plans</p>
				</div>

				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="/static/img/icon/browser.svg" alt="Generic placeholder image">
				   <h3>其它功能</h3>
				 <p class="lead">You can explore other functions in our site </p>
				</div>

			</div>
		</div>
	</div>

	<div id ="useita" class="content-section-a">
        <div class="container">
            <div class="row">
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="/static/img/translation_func.png" style="margin: 0 auto;" alt="">
                </div>
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">中英互译</h3>
                    <p class="lead">
						您应输入需要翻译的文字内容，我们将为您提供翻译服务
					</p>
					 <p><a class="btn btn-embossed btn-primary" id="trans" role="button">查看详情</a> 
				</div>   
            </div>
        </div>
    </div>
	<br/>
	
	<div id ="useitb" class="content-section-a">
        <div class="container">
            <div class="row">
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="/static/img/search.jpg" style="margin: 0 auto;" alt="">
                </div>
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">单词查询</h3>
                    <p class="lead">
						您应输入需要查询的英文单词，我们将为您提供释义、发音等信息
					</p>
					 <p><a class="btn btn-embossed btn-primary" id="query" role="button">查看详情</a> 
				</div>   
            </div>
        </div>
	</div>
	<br/>

	<div id ="useitc" class="content-section-a">
        <div class="container">
            <div class="row">
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="/static/img/vocab.jpg" style="margin: 0 auto;" alt="">
                </div>
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">单词背诵</h3>
                    <p class="lead">
						我们提供了四级、六级、托福、雅思、GRE等词库，您可以根据您目前的英语水平选择相应的词库进行背诵。
					</p>
					 <p><a class="btn btn-embossed btn-primary" id="memory" role="button">查看详情</a>
				</div>   
            </div>
        </div>
	</div>
	<br/>

	<div id ="useitd" class="content-section-a">
        <div class="container">
            <div class="row">
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="/static/img/exam.jpg" style="margin: 0 auto;" alt="">
                </div>
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">单词测验</h3>
                    <p class="lead">
						当您背诵完单词后，可以进行单词测验，检测您对单词的掌握程度
					</p>
					 <p><a class="btn btn-embossed btn-primary" id="test" role="button">查看详情</a> 
				</div>   
            </div>
        </div>
	</div>

	<footer id="developer">
		<div class="container">
		  <div class="row">
			<div class="col-md-7">
			  <h3 class="footer-title">Memorize~</h3>
				Thank you for visiting our website<br/>
			  </p>
			  </p>
			  <!-- LICENSE -->
			 <a rel="dc:creator" href="#"
			 property="cc:attributionName">This website is developed by 
			 <BR>the <a rel="license"
			 href="#">170711 11th Group</a>.
			 
		 
			</div> <!-- /col-xs-7 -->
  
			<div class="col-md-5">
			  <div class="footer-banner">
				<h3 class="footer-title">Developer</h3>
				<ul>
				  <li>17071107 李荣庆</li>
				  <li>17071114 徐聪宇</li>
				  <li>17071115 凌雨婷</li>
				  <li>17071119 王婧</li>
				  <li>注：按学号从小至大排序</li>
				</ul>
				
			  </div>
			</div>
		  </div>
		</div>
	  </footer>
	   <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="/static/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script src="/static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="/static/js/classie.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="/static/js/jquery.magnific-popup.js"></script>
	<script src="/static/js/main.js"></script>
</body>

</html>