<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template "/>
    <meta name="author" content=""/>

    <title>Memorize~!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
 
    <!-- Custom Google Web Font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom CSS-->
    <link href="/static/css/general.css" rel="stylesheet"/>
	<link href="/static/css/test.css" rel="stylesheet"/>
	 <!-- Owl-Carousel -->
    <link href="/static/css/custom.css" rel="stylesheet"/>
	<link href="/static/css/owl.carousel.css" rel="stylesheet"/>
    <link href="/static/css/owl.theme.css" rel="stylesheet"/>
	<link href="/static/css/style.css" rel="stylesheet"/>
	<link href="/static/css/animate.css" rel="stylesheet"/>
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="/static/css/magnific-popup.css"/> 
	
	<script src="/static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="home">
	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>


    <!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/admin_page/">修改用户</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav" id="nav-bar">
                    <li class="menuItem"><a href="/admin/search">查询用户</a></li>
					<li class="menuItem"><a href="/admin/modify">修改用户</a></li>
					<li class="menuItem" id="logout-item"><a href='/login'>logout</a></li>
                   
				</ul>
			</div>	   
		</div>
	</nav>
    <div class="modify-outer" align='center' style="margin-top: 8%">
        <label>您想要修改的用户： </label><input id="modify-name"> </input><br/>
        <label>该用户修改后的密码： </label><input id="modified-pwd"> </input><br/>
        <label>是否清除该用户复习单词库： </label><input type='checkbox' id="clear-review"> </input><br/>
        <label>是否重置该用户信息： </label><input type='checkbox' id="reset-user"> </input><br/>
    </div>
	<p align='center' style="margin-top:15px"><a class="btn btn-embossed btn-primary" id="modify-btn" role="button">提交</a></p>
	   <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="/static/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="/static/js/jquery.corner.js"></script> 
	<script src="/static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="/static/js/classie.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
	<script src="/static/js/admin_modify.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="/static/js/jquery.magnific-popup.js"></script> 
	
</body>

</html>