<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template "/>
    <meta name="author" content=""/>

    <title>Memorize~!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
 
    <!-- Custom Google Web Font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom CSS-->
    <link href="/static/css/general.css" rel="stylesheet"/>
	<link href="/static/css/test.css" rel="stylesheet"/>
	 <!-- Owl-Carousel -->
    <link href="/static/css/custom.css" rel="stylesheet"/>
	<link href="/static/css/owl.carousel.css" rel="stylesheet"/>
    <link href="/static/css/owl.theme.css" rel="stylesheet"/>
	<link href="/static/css/style.css" rel="stylesheet"/>
	<link href="/static/css/animate.css" rel="stylesheet"/>
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="/static/css/magnific-popup.css"/> 
	
	<script src="/static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="home">
	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>


    <!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">个人信息</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav" id="nav-bar">
					<li class="menuItem"><a href="/app#aboutus">About us</a></li>
					<li class="menuItem"><a href="/app#useita">Function</a></li>
					<li class="menuItem"><a href="/app#developer">Developer</a></li>
					<li class="menuItem"><a href="/setting">Setting</a></li>
                    <li class="menuItem" id="profile-item"><a href="#">profile</a></li>
					<li class="menuItem" id="logout-item"><a href='/app'>logout</a></li>
                   
				</ul>
			</div>	   
		</div>
	</nav>
    <div class="profile-outer">
        <h2 style="margin-left:30px">个人信息</h2>
        <HR/>
        <div class="profile-content">
            <h3 id="user-name">用户名: 17071107<h3/>
            <h3 id="plan-vocab">当前所选词库：六级词库<h3/>
            <h3 id="total-memorize-num">当前词库背诵个数：666<h3/>
            <h3 id="plan-num">当前每日计划数量：15<h3/>
        </div>
    </div>

	   <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="/static/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="/static/js/jquery.corner.js"></script> 
	<script src="/static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="/static/js/classie.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/profile.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="/static/js/jquery.magnific-popup.js"></script> 
	
</body>

</html>